

#imgmap1 {
    -fx-border-color: red;
    -fx-border-width: 6px;
}

#imgmap2 {
    -fx-border-color: red;
    -fx-border-width: 6px;
}

#imgmap3 {
    -fx-border-color: red;
    -fx-border-width: 6px;
}
.image-view-with-border {
    -fx-border-color: black;
    -fx-border-width: 2px;
}